<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softvilla.steppingstonesparentportal">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logos"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logos"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.softvilla.steppingstonesparentportal.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.topitideas.splashscreen.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.softvilla.steppingstonesparentportal.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.softvilla.steppingstonesparentportal.MainMenu"
            android:label="Main Menu"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
            >

            <!--<meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.softvilla.slmparentportal.Children" />-->
        </activity>
        <activity
            android:name="com.softvilla.steppingstonesparentportal.Children"
            android:label="Children List"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity android:name="com.softvilla.steppingstonesparentportal.Results"
            android:label="Results"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
            />
        <activity
            android:name="com.softvilla.steppingstonesparentportal.Fee"
            android:label="Fee"
            android:theme="@style/CustomTheme"
            android:screenOrientation="portrait"
             />
        <activity
            android:name="com.softvilla.steppingstonesparentportal.FeeDetail"
            android:label="Fee Detail"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity android:name="com.softvilla.steppingstonesparentportal.Attendance"
            android:label="Attendance"
            />
        <activity android:name="com.softvilla.steppingstonesparentportal.Notes"
            android:label="Notes"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" >

        </activity>
    </application>

</manifest>